/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --button-default-border-radius: 32px;
  --button-disabled-color: #b3b3b3;
  --button-disabled-border-color: #b3b3b3;
  --color-disabled: #000000;

  --button-primary-color: #de0614;
  --button-primary-border-color: #de0614;
  --color-primary: #ffffff;
}

:root[theme='BUDD'] {
  --button-primary-color: #de0614;
  --button-primary-border-color: #de0614;
  --color-primary: #ffffff;
}

:root[theme='1FOW'] {
  --button-primary-color: #bb21a7;
  --button-primary-border-color: #bb21a7;
  --color-primary: #ffffffc6;
}

:root[theme='VIRG'] {
  --button-primary-color: #ff0000;
  --button-primary-border-color: #ff0000;
  --button-border-radius: 20px;
  --color-primary: #ffffff;
}
