:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  gap: 1rem;
}

lit-ag-button,
ag-button {
  width: 100%;
}
